<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gulp Static Boilerplate</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon" />
    <!-- Pulls our Typekit Fonts -->
    <script src="//use.typekit.net/zez3buj.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>

    <!-- Pulls the material design icon font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Pulls Slick CSS for sliders -->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.css"/>

    <!-- Pulls the main styles -->
    <link rel="stylesheet" href="css/styles.css">
</head>
<body id="">

<header class="b-top-nav">

    <div class="e-nav-group m-left">
        <span class="e-nav-item js-nav-trigger e-nav-trigger">
            <i class="material-icons">menu</i>
        </span>
    </div>

    <div class="e-nav-group m-right e-social-media">
        <!-- Still questioning the relevance of this -->
        <a href="https://twitter.com/TheGovLab" class="e-nav-item" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/user/TheGovLab" class="e-nav-item" target="_blank"><i class="e-social-media-item">Youtube</i></a>
    </div>

    <a class="e-logo" id="odrs-logo-2" href="./"><img src="./img/odrs-logo-white.png" alt="" id="odrs-logo-2"></a>

</header>

<!-- Main Menu (Off Canvas) -->
<nav class="b-main-menu">
    <a href="./">Home</a>
</nav>

<main role="main">


<!-- Main Menu (Off Canvas) -->
<nav class="b-main-menu">
  <a href="./">Home</a>
  <a href="./abstract.html">Abstracts</a>
  <a href="./question.html">Questions</a>
  <a href="./contactus.html">Contact Us</a>
</nav>

    <main role="main">
        {% block main %}{% endblock %}
    </main>

    <footer class='b-footer'>
        <div class="row">
            <h2>CONTRIBUTING ORGANIZATIONS</h2>
            <div class="large-4 column">
                <figure>
                  <img src="./img/govlab-logo-white.png" alt="Example image" class="govlab-logo"/>
                </figure>
            </div>
            <div class="medium-4 column">
                <figure>
                  <img src="./img/wwwf2-white.png" alt="Example image" class="wwwf2-logo"/>
                </figure>
            </div>
            <div class="medium-4 column">
                <figure>
                  <img src="./img/od4d-white.png" alt="Example image" class="od4d-logo"/>
                </figure>
            </div>
        </div>
    </footer>

    <div class="b-copyright">
        <div class="row">
            <div class="large-10 large-centered columns">
                <a class="e-cc-badge" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a>
                This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a> <br> <a href="#">Copyright Infringement Information</a>.
            </div>
        </div>
    </div>

<div id="overlay"></div>

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
<script src="js/scripts.js"></script>

</body>
</html>
