{% extends '_base.html' %}
{% block main %}
<div class="b-top-section m-dark-blue">
    <h1>Call for Abstracts</h1>
    <h2>Deadline May 23, 2016</h2>
</div>

<section id="intro-p" class="b-page-section">
    <div class="row e-content">
        <div class="medium-12 large-8 large-offset-2 column ">
            <p>As open data becomes entrenched in the policy mainstream, there is an ongoing need to delve deeper into the dynamics of open data practice. At the same time, there is a need to maintain a critical perspective and to develop empirically-tested theories on open data. Researchers across the world have been exploring various issues around the supply, use and impact of open data; the second Open Data Research Symposium offer researchers an opportunity to share completed research and to formulate the open data research agenda.</p>
        </div>
    </div>
</section>

<section class="b-divider m-green">
  <h1>Submission Topics</h1>
</section>

<section id="list" class="b-page-section">
    <div class="row e-content">
        <div class="large-8 column large-offset-2">
          <p>Submissions that reflect critically on the following themes are invited:</p>
          <ul>
            <li><b>Theoretical framing of open data</b> as a concept and a movement</li>
            <li>Use and <b>impacts of open data</b> in specific countries or specific sectors</li>
            <li>The making, implementation and institutionalisation of <b>open data policy</b></li>
            <li><b>Capacity-building</b> for wider availability and use of open data</li>
            <li>Conceptualising <b>open data ecosystems</b> and intermediaries</li>
            <li>Entrepreneurial usage and <b>open data economies in developing countries</b></li>
            <li>Linkages between <b>transparency, freedom of information and open data communities</b></li>
            <li><b>Measurement of open data policy and practices</b>, including methods for assessing the impact of open data</li>
            <li>Critical challenges for open data: <b>privacy, exclusion and abuse</b></li>
            <li>Situating <b>open data in the global governance and developmental context</b></li>
          </ul>
          <p>Submissions are invited from all disciplines, though with an emphasis on empirical social research. PhD students and early-career researchers are particularly encouraged to submit abstracts. Panels will provide an opportunity to receive constructive feedback.</p>
        </div>
    </div>
</section>

<section id="submission-details" class="b-slide m-green">
    <header>
        <h4>Submission Details</h4>
    </header>
    <div class="row e-content">
        <div class="large-12 column">
            <h3><p>Extended abstracts in English of up to two pages, detailing the question addressed by the research, methods employed and findings should be submitted by <b> May 23, 2016</b>. Authors of accepted abstracts will be invited to submit full papers. Full papers of accepted abstracts will be due by <b>September 1, 2016</b>. Abstracts should be submitted via Easy Chair.</p></h3>
        </div>
        </div>
</section>
{% endblock %}
