{% extends '_base.html' %}

{% block main %}
<div class="b-top-section m-dark-blue">
	<h1>Accepted Papers</h1>
	<!-- <h2></h2> -->
</div>

<section id="intro-p" class="b-page-section">
	<div class="row e-content">
		<div class="medium-12 large-10 large-offset-1 column">
			<table>
				<!-- <caption></caption> -->
				<colgroup>
				<col style="width:100%" />
			</colgroup>
    			<!-- <thead>
        			<tr>
            			<th scope="col"></th>
        			</tr>
        		</thead> -->
        		<tbody>
        			<tr>
        				<td class="paper">
        					<span class="authors">Federico Piovesan. </span>
        					<span class="title"><a href="https://drive.google.com/a/thegovlab.org/file/d/0B4TpC6ecmrM7NEpDMVNLb0FHRms/view">Beyond Standards and Regulations: Obstacles to Local Open Government Data Initiatives in Italy and France</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://silvanafumega.blogspot.com.ar/">Silvana Fumega</a>. </span>
        					<span class="title"><a href="https://drive.google.com/a/thegovlab.org/file/d/0B4TpC6ecmrM7cTVmT1RSZm1BZXc/view">-  Rethinking Civil Society Organisations Working in FOI and OGD Fields</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://reboot.org/">Nicole Anand</a> and <a href="http://reboot.org/">Panthea Lee</a>. </span>
        					<span class="title">How Civil Society Can Use Data to Influence Government Decision-Making</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.idatosabiertos.org">Fabrizio Scrollini</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7dTl1bGJkN1c2Zkk">Open your data and… will ‘they’ build it? : A case of open data coproduction in health service delivery</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://theodi.org">Jamie Fawcett</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7b1ZvR3VxZFNkQ3c">Examining open data as a source of competitive advantage for big businesses</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Glenn Vancauwenberghe and Bastiaan Van Loenen. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7Snl2TW0xenZvMDg">. Governance and performance of open spatial data policies in Europe – What can we learn from the INSPIRE Reporting Process?</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.theodi.org">Peter Wells</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7Ny1LQlNpMEVIMVk">. Researching the economics of data to help governments make better decisions</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Alan Ponce, Luis-Daniel Ibañez and Elena Simperl. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7ZDhUU3AxR0Jaa2M">Measuring risks and challenges in using open data</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Michael Canares. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7YUQySWJkY0kycG8">Smart Cities Need to Be Open: The Case of Jakarta, Indonesia</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://digitalcommonslab.fbk.eu">Francesca De Chiara</a>. </span>
        					<span class="title">Mapping the reusers of open data in Italy. The findings of Open Data 200 Italy study</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://cipg.or.id">Dinita Andriani Putri</a> and <a href="http://cipg.or.id">Maharani Karlina Ch</a>. </span>
        					<span class="title">The dynamics of smart city and open data in urban governance - Lessons from Jakarta Smart City Initiative</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Juan Pane, et al. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7Q1lpQ0xoNlJnZlU">Enabling dengue outbreak predictions based on open data</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://opendatachina.com">Feng Gao</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7UHRqbjlZaGtaaFE">Investigation of Open Data Ecosystem in China: A Timeline Analysis of Shanghai Open Data Initiative</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://softeng.polito.it/rifat/">Mohammad Rifat Ahmmad Rashid</a> and <a href="http://softeng.polito.it/torchiano">Marco Torchiano</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7X2tEUDlLRmNucWc">A systematic literature review of open data quality in practice</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Viarda Lobos, et al. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7ZHNOcXp6bWtiSkU">Proposal of a unified BPM model for open data publication</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Patrick Enaholo. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7SFRwVlNjQ2Q2RVU">Beyond Advocacy: Examining the Role of Intermediaries in Nigeria’s Open Data Ecosystem</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.sinergantara.or.id">Ilham Cendekia Srimarga</a>, et al. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7VDExMlVuVWFhSmc">Implementation of Data Revolution at Sub-National Level in Indonesia: Impacts, Potential Impacts, and Adoption</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.unilorin.edu.ng">Omenogo Veronica Mejabi</a> and <a href="http://www.soton.ac.uk">Johanna Walker</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7LS1zRGJJN0FnMGc">Towards a Model of Sustainability for Open Data Motivated Start-ups</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Arthur Glenn Maail. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7Z2xJNS1TMnJLd3c">Relational Impact of Open Data Intermediation: Experience From Indonesia and the Philippines</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.ivir.nl">Mireille van Eechoud</a> and Lucie Guibault. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7NmZhZkFkZWtjVWM">International copyright reform in support of open legal information (working title) </a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.internetlab.org.br/en/">Ivan Candido Da Silva de Franco</a> and <a href="http://www.internetlab.org.br/en/">Natalia Langenegger</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7bGsxM0xWZ2RkdUU">Transparency and open data in the Brazilian Judiciary: a case study on the São Paulo ́s Court of Justice</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Tanya Sethi. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7QXVfSGJSdFJyYjA">Getting to Use: What Developing Countries Have to Say About Closing the Gap Between Supply and Demand for (Open) Data?</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Patrick Bergemann and Sheena Iyengar. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7LUtSN1hJQTNQWm8">The Economic Impact of Open Data</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Indianna Minto-Coy, et al. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7S0NlaS1zWENjdlU">-  Towards Greater Citizen Engagement and Transparency Through Open Budgeting in Jamaica</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Indianna Minto-Coy. </span>
        					<span class="title">From ICT4D to OD4D: Emperical and theoretical link between public administration and open data</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Maurice McNaughton, et al. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7OEN6OVlIUXh1d1U">. Open Data as a Catalyst for Problem Solving: Empirical Evidence from a Small Island Developing States (SIDS) Context</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors"><a href="http://www.cdi.manchester.ac.uk">Felipe Gonzalez-Zapata</a> and <a href="http://www.cdi.manchester.ac.uk">Richard Heeks</a>. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7T3J2YjdMeG5RU1E">-  . The challenges of institutionalising open government data (OGD): a historical perspective from the Chile’s OGD initiative and digital government institutions</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Melkamu Beyene, Pierre-Edouard Portier, Solomon Atnafu and Sylvie Calebretto. </span>
        					<span class="title"><a href="">Cross Lingual Access to Government Datasets: A Linking Based Approach</a></span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Bernadette Farias Loscio, Caroline Burle S. Guimarães and Newton Calegari. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7NVR5Y0tKUzg5WDA">Data on the Web Best Practices: Challenges and Benefits</a>
        					</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Umaru Bah and Jeanne Holm. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7VllEb0JLSWgyMnM">Open Data for Diaspora Databases in Developed Countries: The Case of Sierra Leoneans in the United States</a>
        					</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Joel Gurin, Katherine Garcia &amp; Matthew Rumsey. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7Nm5NWVV1MjJpUjg">Protecting Privacy While Releasing Data: Strategies to Maximize Benefits & Mitigate Risks</a>
        					</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Erwin Alampay. </span>
        					<span class="title"><a href="https://drive.google.com/open?id=0B4TpC6ecmrM7LVl1dUdHT2ZxMVE">Harnessing open data for fiscal transparency in local governments in the Philippines</a>
        					</span>
        				</td>
        			</tr>
        			<tr>
        				<td class="paper">
        					<span class="authors">Santosh Kesavan, Isana Nambiar and Subrat Rout. </span>
        					<span class="title">VectorTrak: An Open Data Platform for Real-time Surveillance, Visualization and Prediction of Vector-borne Diseases in India
        					</span>
        				</td>
        			</tr>
        		</tbody>
        	</table>
        </div>
    </div>
</section>

<section id="odrs-history" class="b-page-section">
	<div class="row e-content">
		<div class="medium-12 large-10 large-offset-1 column">
			<p>The first Open Data Research Symposium was held as a precursor to the International Open Data Conference in Ottawa on May 27, 2015. Over 60 abstracts were submitted and 31 papers were delivered, of which seven have been accepted for publication in a special issue of the peer-reviewed, open access <i>Journal of Community Informatics</i>.</p>
			<div class="b-divider" id="abstract-button-container">
				<p class="e-button-container"><a href="https://docs.google.com/spreadsheets/u/1/d/1zvtp2wF9kqrvzXpoUIgq1aYLUcbESJ0WWpShobrXr_A/pubhtml?gid=1456665193&single=true" class="b-button" id="abstract-button" target="_blank">VIEW 2015 PRESENTERS & PAPERS</a></p>
			</div>
		</div>
	</div>
</section>

{% endblock %}