{% extends '_base.html' %}
{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>CONTACT US</h1>
</div>
<section id="intro-p" class="b-page-section">
  

          <div class="b-page-section">
            <div class="row">
              <div class="large-10 large-centered columns m-centered">
                <h1>Message Sent</h1>
                <h4>Thank you for your message. We will try to respond as soon as possible.</h4>
              </div>
            </div>
          </div>


        </div>
        </div>
</section>


{% endblock %}
