{% extends '_base.html' %}
{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>CONTACT US</h1>
</div>
<section id="confirmation" class="b-page-section">
    <div class="row e-content">
        <div class="large-8 large-offset-2 column">
          <h2 class="confirmation-section-header">Thank you!</h2>
          <h3 class="confirmation-section-body">Your message was sent. We will respond to your question as soon as possible!</h3>

        </div>
      </div>
</section>
{% endblock %}
