{% extends '_base.html' %}
{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>CONTACT US</h1>
</div>
<div class="b-divider m-green">
  <h1 class="confirmation-section-header">THANK YOU!</h1>
</div>
<section id="confirmation" class="b-page-section">
    <div class="row e-content">
        <div class="large-8 large-offset-2 column">
          <h3 class="confirmation-section-body">We have recieved your message. You will get a response to your question as soon as possible!</h3>
        </div>
      </div>
</section>
{% endblock %}
