{% extends '_base.html' %}
{% block main %}
<div class="b-divider m-purple">
    <h2>CONTACT US</h2>
</div>
<section id="intro-p" class="b-slide m-orange">
    <div class="row e-content">
        <div class="large-12 column">
          <h3><p>The Symposium is being organized by the NYU GovLab, the World Wide Web Foundation and Open Data for Development. For more further information on the Symposium, please contact Stefaan Verhulst at stefaan@thegovlab.org.</p>
            <p>Send us any additional questions or comments:</p></h3>
          <form action="https://formspree.io/juliac@thegovlab.org"
      method="POST" class="b-form">
            <input type="text" name="name" placeholder="Name" />
            <input type="email" name="_replyto" placeholder="Email" />
            <textarea id="msg" placeholder="Message"></textarea>
            <a href="#" input type="submit" value="Send" class="b-button">Send<i class="material-icons">send</i></a>
          </form>
        </div>
        </div>
</section>
<div class="b-divider">
    <h1>Conference Organizers</h1>
    <h2></h2>
    <figure>
      <img src="./img/od4d-white.png" alt="Example image" class="od4d-logo"/>
    </figure>
    <figure>
      <img src="./img/wwwf2-white.png" alt="Example image" class="wwwf2-logo"/>
    </figure>

</div>



{% endblock %}
