{% extends '_base.html' %}

{% block header_logo %}{% endblock %}

{% block main %}
<header>
  <div class="b-top-section m-dark-blue">
    <div class="event-logo">
      <img src="./img/odrs-horizontal-full-white-1.png" alt="Open Data Research Symposium" />
    </div>
    <h2>October 5, 2016</h2>
    <h3>Madrid, Spain</h3>
  </div>
</header>

<div class="b-divider m-yellow">
    <h1>What is the Open Data Research Symposium?</h1>
    <h2>Symposium Objectives</h2>
</div>

<section class="b-page-section">
    <div class="row e-content">
      <div class="medium-5 column medium-offset-1">
        <p style="letter-spacing: -.2px;">Open data has become firmly cemented in the policy mainstream. However, there remains a pressing need to dig deeper into the dynamics of how open data operates in practice, and to nurture theories that explain these dynamics. This symposium offers open data researchers an opportunity to reflect critically on the findings of their completed research and to create cohesion within the research community on what the future challenges are likely to be in <strong>unlocking the potential of open data to promote social progress.</strong></p>
      </div>
      <div class="medium-5 column end">
        <p>The Symposium will be composed of three key activities, each focused on how to increase our understanding of open data’s use and impacts:</p>
        <ol>
          <li>Sharing of key findings</li>
          <li>Developing a common research infrastructure</li>
          <li>Identifying gaps and questions that can both further theory and practice</li>
        </ol>
      </div>
    </div>
</section>

<div class="b-divider m-green">
    <h1>Programming Committee</h1>
</div>

<section class="b-page-section b-committee">
    <div class="row">
      <ul class="medium-6 column medium-offset-1">
        <li><strong>Stefaan Verhulst</strong>The GovLab (Co-chair)</li>
        <li><strong>Francois van Schalkwyk</strong>World Wide Web Foundation / University of Stellenbosch (Co-chair)</li>
        <li><strong>Katie Clancy</strong>International Development Research Centre / Open Data for Development </li>
        <li><strong>Fernando Perini</strong>International Development Research Centre</li>
        <li><strong>Gisele Craveiro</strong>University of Sao Paulo</li>
        <li><strong>Tim Davies</strong>University of Southampton</li>
      </ul>
      <ul class="medium-4 column end">
        <li><strong>Kyujin Jung</strong>Tennessee State University</li>
        <li><strong>Gustavo Magalhaes</strong>University of Austin Texas</li>
        <li><strong>Michelle McLeod</strong>University of the West Indies</li>
        <li><strong>Emmy Chirchir</strong>Munster University</li>
        <li><strong>Andrew Young</strong>The GovLab</li>
        <li><strong>Stefania Milan</strong>University of Amsterdam</li>
      </ul>
    </div>
</section>

{% endblock %}
