{% extends '_base.html' %}
{% block main %}
<header>
  <div class="row">
    <div class="column small-12">
      <h1>Open Data Research Symposium</h1>
      <h2>May 23, 2016 | Madrid, Spain</h2>
    </div>
  </div>
</header>

<div class="b-divider m-blue">
    <h2>What is the ODRS?</h2>
</div>

<section id="slide-id" class="b-slide m-purple">
    <header>
        <h4>ANNOUNCEMENT</h4>
    </header>
    <div class="row e-content">
        <div class="medium-6 column">
            <h3 class="e-question">fair use future of context NYT Instagram innovation Dan Fleckner, Paul Steiger cops beat WordPress. I love the Weather Opera section West Seattle Blog cognitive surplus hackgate Arab spring Sulzberger the medium is the message copyboy synergize, content is king digital circulation strategy a giant stack of newspapers that you'll never read Politics Socks page we need a Nate Silver twitterati Marshall McLuhan Andy Carvin data visualization, election-night hologram Dayton for under $900 a day rubber cement mathewi incent Chartbeat inverted pyramid.</h3>
        </div>
        <div class="medium-6 column">
            <h3>Demand Media WordPress future of narrative tablets AOL Patch Colbert bump get me rewrite if the news is that important, it'll find me NYT totally blowing up on Twitter commons-based peer production, Pictures of Goats section column-inch I love the Weather Opera section dingbat dead trees column-inch engagement Zite Pictures of Goats section synergize, Android NYT fair use put the paper to bed Romenesko rubber cement bringing a tote bag to a knife fight Paul Steiger afternoon paper Quora.</h3>
        </div>
    </div>
</section>

<div class="b-divider m-blue">
    <h2>More</h2>
    <a href="abstract.html" class="b-button m-naked">Submit an Abstract</a>
    <a href="question.html" class="b-button m-naked">Submit a Question</a>
    <a href="contactus.html" class="b-button m-naked">About and Contact</a>
</div>
{% endblock %}
