{% extends '_base.html' %}

{% block header_logo %}{% endblock %}

{% block main %}
<header>
  <div class="b-top-section m-dark-blue">
    <div class="event-logo">
      <img src="./img/odrs-horizontal-full-white-1.png" alt="Open Data Research Symposium" />
    </div>
    <h2>October 6-7, 2016</h2>
    <h3>Madrid, Spain</h3>
  </div>
</header>

<div class="b-divider m-yellow">
    <h1>What is the Open Data Research Symposium?</h1>
    <h2>Symposium Objectives</h2>
</div>

<section class="b-page-section">
    <div class="row e-content">
      <div class="medium-5 column medium-offset-1">
        <p style="letter-spacing: -.2px;">Open data has become firmly cemented in the policy mainstream. However, there remains a pressing need to dig deeper into the dynamics of how open data operates in practice, and to nurture theories that explain these dynamics. This symposium offers open data researchers an opportunity to reflect critically on the findings of their completed research and to create cohesion within the research community on what the future challenges are likely to be in <strong>unlocking the potential of open data to promote social progress.</strong></p>
      </div>
      <div class="medium-5 column end">
        <p>The Symposium will be composed of three key activities, each focused on how to increase our understanding of open data’s use and impacts:</p>
        <ol>
          <li>Sharing of key findings</li>
          <li>Developing a common research infrastructure</li>
          <li>Identifying gaps and questions that can both further theory and practice</li>
        </ol>
      </div>
    </div>
</section>

{% endblock %}
