{% extends '_base.html' %}

{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>ODRS 2018 PROGRAM</h1>
    <!-- <h2>3rd OPEN DATA RESEARCH SYMPOSIUM PROGRAM</h2> -->
</div>

<section id="intro-p" class="b-page-section">
    <div class="row e-content">
        <div class="medium-12 large-10 large-offset-1 column">
            <table class="programme">
                <caption>Date: Tuesday 25 September 2018.<br>Venue: <a href="http://www.elculturalsanmartin.org/" target="_blank">Centro Cultural San Martin, Buenos Aires</a>.<br><br></caption>
                <colgroup>
                <col style="width:20%" />
                <col style="width:80%" />
            </colgroup>
                <tbody>
                    <tr>
                        <td class="time">
                            9:30
                        </td>
                        <td class="event">
                            Registration & hot beverages
                        </td>
                    </tr>
                    <tr>
                        <td class="time">
                            10:00
                        </td>
                        <td class="event">
                            Welcome by Stefaan G. Verhulst, The GovLab
                        </td>
                    </tr>
                    <tr>
                        <td class="time">
                            10:15
                        </td>
                        <td class="event sub-table">
                            <table>
                                <colgroup>
                                <col style="width:100%" />
                            </colgroup>
                            <thead>
                                <td colspan="3">
                                    SESSION 1
                                </td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        Paper 1: From theory to practice: Open data, accountability and service delivery by Michael Jelenic
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Paper 2: What technology and open data can do for women in Kosovo by Natalia Domagała
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="time">
                        11:15
                    </td>
                    <td class="event sub-table">
                        <table>
                            <colgroup>
                            <col style="width:50%" />
                            <col style="width:50%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td>
                                    SESSION 2
                                </td>
                                <td>
                                    SESSION 3
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Paper 3: Governing open health data commons in Latin America by Carla Bonina & Fabrizio Scrollini
                                </td>
                                <td>
                                    Paper 5: Examining the work of intermediation by journalists in the open data supply chain by Patrick Enaholo & Doyinsola Dina
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Paper 4: Using open data for public services by Miranda Marcus, Isabelle Champion & Ed Parkes
                                </td>
                                <td>
                                    Paper 6: Analysis of factors to creation and growth of an OGD ecosystem by Edson Germano & Nicolau Reinhard
                                </td>
                        </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
                    <td class="time">
                        12:15
                    </td>
                    <td class="event sub-table">
                        <table>
                            <colgroup>
                            <col style="width:50%" />
                            <col style="width:50%" />
                        </colgroup>
                        <thead>
                            <tr>
                                <td>
                                    SESSION 4
                                </td>
                                <td>
                                    SESSION 5
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    Paper 7: Localising global commitments by Michael Canares
                                </td>
                                <td>
                                    Paper 10: The user perceived-performance of decentralized route planning based on open data by Julian Rojas, Bert Marcelis, Pieter Colpaert & Ruben Verborgh
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Paper 8: Strategies in OD implementation at sub-national government level in Indonesia by Ilham Cendekia Srimarga & Markus Christian
                                </td>
                                <td>
                                    Paper 11: The costs of late payments in public procurement by Juan Pane, Camila Salazar Mayorga & Julio Paciello
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Paper 9: Connecting flows and places: Flows of (open) data to and from hyperlocal communities in Tanzania by Francois van Schalkwyk
                                </td>
                                <td>&nbsp;</td>
                        </tr>
                </tbody>
            </table>
        </td>
    </tr>
<tr>
    <td class="time">
        13:15
    </td>
    <td class="event">
        Lunch break
    </td>
</tr>
    <tr>
                    <td class="time">
                        14:15
                    </td>
                    <td class="event sub-table">
                        <table>
                            <colgroup>
                            <col style="width:50%" />
                            <col style="width:50%" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td>
                                    Workshop 1: Open data governance: Who makes data decisions in government and how?
                                </td>
                                <td>
                                    Workshop 2: Understanding and preparing for the risks of releasing open data
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Workshop 3: Know your users: Researching and designing for users in open data programs
                                </td>
                                <td>
                                    Workshop 4: Designing consent from the ground up
                                </td>
                        </tr>
                        <tr>
                                <td>
                                    Workshop 5: Using open aid data for research: Chinese development cooperation, FDI in Liberia and tracking development
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                        </tr>
                </tbody>
            </table>
        </td>
    </tr>
<tr>
    <td class="time">
        15:30
    </td>
    <td class="event">
        Break
    </td>
</tr>
<tr>
    <td class="time">
        15:45
    </td>
    <td class="event">
        Consultation on a future research network facilitated by Michael Canares
    </td>
</tr>
<tr>
    <td class="time">
        17:15
    </td>
    <td class="event">
        Closing comments by Francois Van Schalkwyk
    </td>
</tr>
<tr>
    <td class="time">
        17:30
    </td>
    <td class="event">
        ODRS closes
    </td>
</tr>
<tr>
     <td class="time">
        &nbsp;
    </td>
    <td class="event">
        Drinks
    </td>
</tr>
</tbody>
</table>







<div class="programme m-mobile">
<p><b>Date: Tuesday 25 September 2018.</b></p>
<p><b>Venue: </b><a href="http://www.elculturalsanmartin.org/" target="_blank">Centro Cultural San Martin, Buenos Aires</a>.</p>
</caption>

    <div class="time">
        9:30
    </div>
    <div>
        Registration & hot beverages
    </div>
    <div class="time">
        10:00
    </div>
    <div>
        Welcome by Stefaan G. Verhulst, The GovLab
    </div>

    <div class="time">
        10:15
    </div>
    <div class="header">
        SESSION 1
    </div>

    <div class="subsection">
        <section>
            <div>
                Paper 1: From theory to practice: Open data, accountability and service delivery by Michael Jelenic
            </div>
        </section>

        <section>
            <div>
                Paper 2: What technology and open data can do for women in Kosovo by Natalia Domagała
            </div>
        </section>
    </div>

    <div class="time">
        11:15
    </div>
    <div class="header">
        SESSION 2
    </div>

    <div class="subsection">
        <section>
            <div>
                Paper 3: Governing open health data commons in Latin America by Carla Bonina & Fabrizio Scrollini
            </div>
        </section>

        <section>
            <div>
                Paper 4: Using open data for public services by Miranda Marcus, Isabelle Champion & Ed Parkes
            </div>
        </section>
    </div>
    <div class="header">
        SESSION 3
    </div>

    <div class="subsection">
        <section>
            <div>
                Paper 5: Examining the work of intermediation by journalists in the open data supply chain by Patrick Enaholo & Doyinsola Dina
            </div>
        </section>

        <section>
            <div>
                Paper 6: Analysis of factors to creation and growth of an OGD ecosystem by Edson Germano & Nicolau Reinhard
            </div>
        </section>
    </div>

        <div class="time">
        12:15
    </div>
    <div class="header">
        SESSION 4
    </div>

    <div class="subsection">
        <section>
            <div>
                Paper 7: Localising global commitments by Michael Canares
            </div>
        </section>

        <section>
            <div>
                Paper 8: Strategies in OD implementation at sub-national government level in Indonesia by Ilham Cendekia Srimarga & Markus Christian
            </div>
        </section>

        <section>
            <div>
                Paper 9: Connecting flows and places: Flows of (open) data to and from hyperlocal communities in Tanzania by Francois van Schalkwyk
            </div>
        </section>

    </div>
    <div class="header">
        SESSION 5
    </div>

    <div class="subsection">
        <section>
            <div>
                Paper 10: The user perceived-performance of decentralized route planning based on open data by Julian Rojas, Bert Marcelis, Pieter Colpaert & Ruben Verborgh
            </div>
        </section>

        <section>
            <div>
                Paper 11: The costs of late payments in public procurement by Juan Pane, Camila Salazar Mayorga & Julio Paciello
            </div>
        </section>
    </div>

    <div class="time">
        13:15
    </div>
    <div>
        Lunch break
    </div>


    <div class="time">
        14:15
    </div>

    <div class="subsection">
        <section>
            <div>
                Workshop 1: Open data governance: Who makes data decisions in government and how?
            </div>
        </section>

        <section>
            <div>
                Workshop 2: Understanding and preparing for the risks of releasing open data
            </div>
        </section>
        <section>
            <div>
                Workshop 3: Know your users: Researching and designing for users in open data programs
            </div>
        </section>

        <section>
            <div>
                Workshop 4: Designing consent from the ground up
            </div>
        </section>
        <section>
            <div>
                Workshop 5: Using open aid data for research: Chinese development cooperation, FDI in Liberia and tracking development
            </div>
        </section>
    </div>

    <div class="time">
        15:30
    </div>
    <div>
        Break
    </div>

    <div class="time">
        15:45
    </div>
    <div>
        Consultation on a future research network facilitated by Michael Canares
    </div>

    <div class="time">
        17:15
    </div>
    <div>
        Closing comments by Francois Van Schalkwyk
    </div>

    <div class="time">
        17:30
    </div>
    <div>
        ODRS closes
    </div>

    <div class="time">
        Afterwards
    </div>
    <div>
        Drinks
    </div>

</div>
</div>
</section>

<!-- <section id="odrs-history" class="b-page-section">
    <div class="row e-content">
        <div class="medium-12 large-10 large-offset-1 column">
            <div class="b-divider" id="abstract-button-container">
                <p class="e-button-container"><a href="https://docs.google.com/spreadsheets/u/1/d/1zvtp2wF9kqrvzXpoUIgq1aYLUcbESJ0WWpShobrXr_A/pubhtml?gid=1456665193&single=true" class="b-button" id="abstract-button" target="_blank">VIEW 2015 PRESENTERS & PAPERS</a></p>
            </div>
        </div>
    </div>
</section> -->

{% endblock %}