{% extends '_base.html' %}
{% block main %}
<div class="b-divider m-purple">
    <h2>Call for Questions</h2>
</div>

<section id="intro-p" class="b-slide m-orange">
    <div class="row e-content">
        <div class="large-12 column">
            <h3><p>The Symposium will not be an opportunity for pontification on the promises of open data. It will be a forum for open data researchers to reflect critically on the findings of their completed research. It will also provide the space to foster cohesion within the open data research community on what the challenges are in unlocking the potential of open data to promote social progress. With this in mind, we would like to invite you to share what you believe to be the key unresolved issues relating to open data. Put simply:</p></h3>
            <h2>What are the questions that open data researchers should be answering?</h2>
        </div>
        </div>
</section>
<section id="intro-p" class="b-slide m-teal">
  <header>
      <h4>How to Submit a Question</h4>
  </header>
    <div class="row e-content">
        <div class="large-12 column">
            <h3><p>You can start the discussion in one of two ways:</p>
              <p>1. Send your questions through the online form</p>
              <p>2. Tweet your questions with the hashtag #ODRS16</p></h3>
        </div>
        </div>
</section>
{% endblock %}
