{% extends '_base.html' %}
{% block main %}

<div class="b-top-section m-dark-blue">
    <h1>CALL FOR QUESTIONS</h1>
</div>
<section class="b-divider m-yellow">
  <h1>What are the questions that open data researchers should be answering?</h1>
</section>
<section id="intro-p" class="b-page-section">

  <div class="row e-content">
    <div class="large-8 large-offset-2 column">
      <p>The Symposium will be a forum for open data researchers to reflect critically on the findings of their completed research. It will also provide the space to foster cohesion within the open data research community on what the challenges are in unlocking the potential of open data to promote social progress. With this in mind, we would like to invite you to share what you believe to be the key unresolved issues relating to open data.</p>
      <p><strong></strong></p>
    </div>
  </div>
</section>

<section class="b-divider m-dark-blue">
  <h1>How to Submit a Question</h1>
</section>
<section class="b-divider m-green">
  <h3>You can tweet your questions with the hashtag <a href="https://twitter.com/search?f=tweets&q=%23odrs16&src=typd" class="question-odrs-twitter-link" target="_blank"><strong>#ODRS16</strong></a></h3>
</section>


<section id="intro-p" class="b-page-section m-dark-blue">
  <div class="row">
    <div class="large-8 column large-offset-2">
      <form action="https://docs.google.com/forms/d/1-sPduMf0WvSZvbL0vN-7CkM9BmOMDF1h3OoKBQKiMik/formResponse" method="POST" class="b-form m-negative" id="ss-form" target="_self" onsubmit="">
        <h4>or...</h4>
        <h3>Send your questions through the online form</h3>
        <ol role="list" class="ss-question-list" style="padding-left: 0;">
          <div class="ss-form-question errorbox-good" role="listitem">
            <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
              <label class="ss-q-item-label" for="entry_2101671815"><div class="ss-q-title"></div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.2101671815" value="" class="ss-q-short" id="entry_2101671815" dir="auto" aria-label="First name  " placeholder="FIRST NAME" title="">
  <div class="error-message" id="1499297818_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_601257133"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.601257133" value="" class="ss-q-short" id="entry_601257133" dir="auto" aria-label="Last Name  " placeholder="LAST NAME"title="">
  <div class="error-message" id="1350001338_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_1105265694"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.1105265694" value="" class="ss-q-short" id="entry_1105265694" dir="auto" aria-label="Organization  " placeholder="ORGANIZATION"title="">
  <div class="error-message" id="929405955_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-text"><div class="ss-form-entry">
  <label class="ss-q-item-label" for="entry_1467600275"><div class="ss-q-title">
  </div>

  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <input type="text" name="entry.1467600275" value="" class="ss-q-short" id="entry_1467600275" dir="auto" aria-label="Email  " placeholder="EMAIL" title="">
  <div class="error-message" id="814026368_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
  <div dir="auto" class="ss-item  ss-paragraph-text"><div class="ss-form-entry" >
  <label class="ss-q-item-label" for="entry_488187191"><div class="ss-q-title">
  </div>
  <div class="ss-q-help ss-secondary-text" dir="auto"></div></label>
  <textarea name="entry.488187191" rows="8" cols="0" class="ss-q-long" id="entry_488187191" dir="auto" aria-label="What questions do you think should be addressed during the conference?  " placeholder="QUESTION"></textarea>
  <div class="error-message" id="1385453012_errorMessage"></div>
  <div class="required-message"></div>
  </div></div></div>
  <input type="hidden" name="draftResponse" value="[,,&quot;1997547259708059370&quot;]
  ">
  <input type="hidden" name="pageHistory" value="0">



  <input type="hidden" name="fbzx" value="1997547259708059370">

  <div class="ss-item ss-navigate"><table id="navigation-table"><tbody class="b-button-background"><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr" >
  <button type="submit" name="submit" value="SUBMIT" id="ss-submit" class="b-button"><i class="material-icons">send</i>SEND</button>
  <div class="ss-password-warning ss-secondary-text"></div></td>
  </tr></tbody></table></div></ol></form>


  </div>
  </div>
</section>
{% endblock %}
