

.b-top-nav {
  .e-social-media {
    img { max-height: 16px; }

    a { opacity: .6; }
    a:hover { opacity: 1; }
  }

  .e-logo {
    img { height: 36px; }
  }
}

.b-footer {
  h2 {
    font-size: 20px;
    text-align-last: center;
    color: rgba(white, .2);
    font-weight: 600;
    margin: 0 0 30px 0;
  }

  .e-partner-logo {
    max-width: 200px;
    padding: 20px;
    opacity: .8;
  }

  .m-od4d { margin-top: -10px; }
}

.b-copyright { font-weight: 300; }



// Julia's CSS

// h2{
//   text-align: center;
// }
// .odrs-logo{
//   height: 50%;
//   width: 60%;
//   margin: 0 auto;
// }
// #odrs-logo-2{
//   height: 50.67px;
//   width: 40px;
//   margin: 0 auto;
// }
// .od4d-logo{
//   margin-top: -30px;
// }
// .navigation-bar{
//   padding: 10px;
// }
// .b-button{
//   display: inline-block;
//   padding: 1.5% 10%;
// }
// #list{
//   padding: 0px 20%;
// }
// iframe{
//   height: 70%;
//   width: 90%;
// }