h2{
  text-align: center;
}
.navigation-bar{
  padding: 10px;
}
.b-button{
  display: inline-block;
  padding: 1.5% 10%;
}
#list{
  padding: 0px 20%;
}
iframe{
  height: 70%;
  width: 90%;
}
.od4d-logo{
  height: 10%;
  width: 20%;
  position: relative;
}
.wwwf2-logo{
  height: 10%;
  width: 20%;
  position: relative;
}
